
<div class="container my-5">
  <div class= "card-trip">
    <div class="cards">
        <%# chat 1  %>
        <div class="card-trip">
          <img src="https://tractive.com/blog/wp-content/uploads/2022/04/chat-tigre-patrouillant-son-territoire.jpg" alt="">
          <div class="card-trip-infos">
            <div>
              <h2>chat : <span class="text-secondary">50€ </span></h2>
              <p>un magnifique chat de maison</p>
            </div>
          </div>
        </div>
        <%# chat 2 %>
        <div class="card-trip">
          <img src="https://www.zooplus.fr/magazine/wp-content/uploads/2019/06/comprendre-le-langage-des-chats.jpg" alt="">
          <div class="card-trip-infos">
            <div>
              <h2>chat : <span class="text-secondary">50€ </span></h2>
              <p>un magnifique chat de maison</p>
            </div>
          </div>
        </div>
        <%# chat 3 %>
        <div class="card-trip">
          <img src="https://media.istockphoto.com/id/1067347086/fr/photo/chat-aux-yeux-bleus-se-penche-sur-lappareil-photo.jpg?s=612x612&w=0&k=20&c=BJqJ6BYWFo4xT1TVDu8fmg5_z7L1ZwgYnC2M6VCwOWY=" alt="">
          <div class="card-trip-infos">
            <div>
              <h2>chat : <span class="text-secondary">50€ </span></h2>
              <p>un magnifique chat de maison</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
