
<div class="container my-5">
  <div class= "card-trip">
    <div class="cards">
        <%# chat 1  %>
        <div class="card-trip">
          <%= render "image_carrousel" %>
          <div class="card-trip-infos">
            <div>
              <h2>chat : <span class="text-secondary">50€ </span></h2>
              <p>un magnifique chat de maison</p>
            </div>
          </div>
        </div>
        <%# chat 2 %>
        <div class="card-trip">
          <%= render "image_carrousel" %>
          <div class="card-trip-infos">
            <div>
              <h2>chat : <span class="text-secondary">50€ </span></h2>
              <p>un magnifique chat de maison</p>
            </div>
          </div>
        </div>
        <%# chat 3 %>
        <div class="card-trip">
          <%= render "image_carrousel" %>
          <div class="card-trip-infos">
            <div>
              <h2>chat : <span class="text-secondary">50€ </span></h2>
              <p>un magnifique chat de maison</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
