
<footer class="footer mt-5">
    <div class="footer-container">
    <div class="footer-row">
      <div class="footer-col">
        <h4>Compagnie</h4>
        <ul>
          <li><a href="#">A propos de nous</a></li>
          <li><a href="#">Nos services</a></li>
          <li><a href="#">politique et conditions</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Signaler un problème</a></li>
          <li><a href="#">Options d'annulation</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Product</h4>
        <ul>
          <li><a href="#">Chats</a></li>
          <li><a href="#">Chattons</a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
    </div>
</footer>
