
  .btn-grad {
  background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
  margin: 10px;
  color: white;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  text-shadow: 1px 1px 2px black;
  border-color: white;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

a {
  text-decoration: none;
  // color:white;
  font-size: larger;

}



.btn-grad2 {
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50  51%, #bdc3c7  100%);
  margin: 5px;
  font-size: 12px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad2:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
