
  .btn-grad {
  background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
  margin: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  text-shadow: 1px 1px 2px black;
  border-color: white;
  width: 116px;
  height: 35px;
  padding-top: 3px;
  font-size: medium;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn-grad5 {
  background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%);
  margin: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  text-shadow: 1px 1px 2px black;
  border-color: white;
  width: 206px;
  height: 57px;
  padding-top: 3px;
  font-size: medium;
}


.btn-grad5:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}


.btn-grad6 {
  background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4 51%, #E55D87 100%);
    margin: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    text-shadow: 1px 1px 2px black;
    border-color: white;
    width: 206px;
    height: 57px;
    padding-top: 14px;
    font-size: medium;
    margin-left: 76px;
}

.btn-grad6:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}


a {
  text-decoration: none;
  color:white;
  font-size: larger;


}



.btn-grad2 {
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50  51%, #bdc3c7  100%);
  margin: 5px;
  font-size: 12px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad2:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}




.btn-grad-green {
  background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
  margin: -42px;
  // padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  padding-top: 9px;
  display: block;
  width: 96px;
  height: 38px;
  font-size: medium;
}

.btn-grad-green:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}




.btn-grad-red {
  background-image: linear-gradient(to right, #e53935 0%, #e35d5b  51%, #e53935  100%);
  margin: 10px;
  // padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  padding-top: 9px;
  display: block;
  width: 96px;
  height: 38px;
  font-size: medium;
}


.btn-grad-red:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.margin-btn{
  margin-left: 10rem;
  margin-top: 1rem;
}
