
<div class= "footer-container ">
  <h2 class="pt-3">Chat</h2>

  <div class = "d-flex flex-row ms-3" >
    <p>commentaire</p>
    <p class= "ms-3"> geoloc </p>
  </div>


  <div class="d-flex flex-row pb-5">
    <div class= "" >
      <img src="https://upload.chatsdumonde.com/img_global/24-anatomie/_medium-21170-chat-noir-et-blanc.jpg" class="card-img rounded-4 " alt="">
    </div>
    <div class= "d-flex flex-column ">
      <img src="https://upload.chatsdumonde.com/img_global/25-anatomie/chat-noir-et-blanc/_medium-21170_17266-un-chat-blanc-et-noir-aux-yeux-jaunes.jpg"  class="card-small-img rounded-4  mb-2 ps-2" alt="...">
      <img src="https://upload.chatsdumonde.com/img_global/25-anatomie/chat-noir-et-blanc/_medium-21170_17266-un-chat-blanc-et-noir-aux-yeux-jaunes.jpg" class="card-small-img rounded-4  d-block ps-2"  alt="...">
    </div>
  </div>

    <div class= "d-flex flew-row justify-content-between ps-3">
       <div class= >
         <div class="d-flex " >
              <div class = "" >
                <h2> Tiny cat </h2>
                <p class="ps-3">male cat</p>
              </div>
            <img src="https://static.vecteezy.com/system/resources/previews/001/840/618/original/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg" class= "img-round margin-icone" alt="">
          </div>
          <hr>
          <p> description</p>
       </div>

        <div class= "card card-text  rounded-4 pb-3 ">
          <p class ="fw-bolder mt-3 mx-3">€price by night</p>
            <div class= "card justify-content-center">
              <div class = >
                 <%= simple_form_for [@cat, @reservation] do |f| %>
                  <%= f.input :start_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
                    <%= f.input :end_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
                    <div class="btn-grad ">
                      <%= f.button :submit %>
                    </div>
                 <%end%>
              </div>
            </div>

            <div class = "d-flex flex-row justify-content-between mt-3">
              <p class= "fw-light mt-3 mx-3 ps-3"> pricexnight </p>
              <p class= "fw-light mt-3 mx-3 ps-3">total price </p>
            </div>
        </div>
    </div>
</div>
