<div class = "container center">
  <div class = "row col-6">
    <h1 class="text-secondary"> Mettre à jour mon chat <i class="fa-solid fa-cat"></i> </h1>
  </div>

  <div class = "row col-6">
    <%= render "form" %>
  </div>
</div>
