<div class = " container card d-flex">
  <div class = "row col-6">
    <h1> Create a new cat </h1>
    <%= render "form" %>
  </div>

    <div class = "row col-6">
    <h1> Create a new cat </h1>
  </div>
</div>
