<div class="container w-50 ">
  <div class = "row mt-20">
    <h1 class="text-secondary mt-3 text-center"> Creer un nouveau chat <i class="fa-solid fa-cat"></i> </h1>
  </div>

  <div class = "row   mt-10 border border-secondary rounded">
    <%= render "form" %>
  </div>
</div>
